body {
  background-color: black;
}

.footer {
  color: gray;
}
h3 {
  margin-top: 20px;
  margin-left: 60px;
}
h5,
p {
  margin-left: 100px;
}
.all__rows {
  display: flex;
  padding: 70px 70px;
  margin: auto;
  max-width: 1000px;
  justify-content: center;
  justify-content: space-between;
  font-weight: 400;
}

li {
  margin-bottom: 8px;
}
li:hover {
  opacity: 0.7;
  cursor: pointer;
  text-decoration: underline;
}
ul {
  list-style-type: none;
}

@media screen and (max-width: 700px) {
  .all__rows {
    display: grid;
  }
}
